:root {
    --standard: #191a1b;
    --primary: #ff0055;
    --secondary: #ff5900;
    --gradient: linear-gradient(to right, var(--primary), var(--secondary));
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
}
