.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay,
.imageContainer {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    z-index: -50;
    background: black;
    opacity: 0.8;
}

.imageContainer {
    z-index: -100;
}

.buttonContainer {
    margin-top: 50px;
    display: flex;
    gap: 40px;
}
