.container {
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buttonContainer {
    display: flex;
    gap: 40px;
}

.searchContainer {
    position: relative;
}
